.container, .main {
  width: 90%;
  margin: 0 auto;
}

.title, .title-lg, .title-sm {
  font-weight: 700;
  font-size: 1.5em;
  color: #63687e;
}
.title-sm {
  font-size: 1em;
  color: #63687e;
}
.title-lg {
  font-size: 1.75em;
  color: #1e202a;
}

.text, .toggle-text, .text-sm {
  font-weight: 400;
  font-size: 1em;
  color: #63687e;
}
.text-sm {
  font-size: 0.75em;
}

.color-red {
  color: #dc414c !important;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", "Open Sans", sans-serif;
  font-weight: 400;
}

.header, .header .container, .header .main {
  display: flex;
  flex-direction: column;
  background: #f5f7ff;
  padding-bottom: 3em;
  border-bottom-right-radius: 1.75em;
  border-bottom-left-radius: 1.75em;
}
.toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toggle-text {
  font-weight: 700;
  text-decoration: none;
}
.toggle-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 4em;
  height: 2em;
  border-radius: 3em;
  background: #aeb3cb;
  transition: 500ms ease all;
}
.toggle-btn.active {
  justify-content: flex-start;
  transition: 500ms ease all;
}
.toggle-ball {
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
  margin: 0 5px;
  background: #f5f7ff;
  border-radius: 50%;
  transition: 500ms ease all;
}

.overview, .overview-today, .overview-all {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.overview-all {
  position: relative;
  top: -3em;
}
.overview-all .overview-card {
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 100%;
  background: #f5f7ff;
  border-radius: 8px;
  padding-bottom: 1em;
  margin-bottom: 1.75em;
}
.overview-all .account {
  display: flex;
  align-items: center;
  margin: 2em auto 1.25em auto;
  line-height: 1em;
  text-decoration: none;
}
.overview-all .icon {
  display: inline-block;
  width: auto;
  height: 100%;
}
.overview-all .name {
  display: inline-block;
  margin: 0;
  margin-left: 0.75em;
  text-decoration: none;
  color: #63687e;
  font-weight: 600;
}
.overview-all .counter {
  font-size: 4em;
  font-weight: 700;
  margin: 0;
}
.overview-all .followers {
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}
.overview-all .resume-day {
  display: flex;
  justify-content: center;
  align-items: center;
}
.overview-all .resume-day .counter-day {
  display: inline-block;
  font-weight: 600;
  color: #1db489;
  margin-left: 0.25em;
}
.overview-all .resume-day .arrow {
  display: inline-block;
  width: auto;
  height: 100%;
}
.overview-all .facebook {
  display: inline-block;
  width: 100%;
  height: 0.35rem;
  background: #198ff5;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}
.overview-all .instagram {
  display: inline-block;
  width: 100%;
  height: 0.35rem;
  background: linear-gradient(to right, #fdc468, #df4996);
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}
.overview-all .twitter {
  display: inline-block;
  width: 100%;
  height: 0.35rem;
  background: #1ca0f2;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}
.overview-all .youtube {
  display: inline-block;
  width: 100%;
  height: 0.35rem;
  background: #c4032a;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

/*# sourceMappingURL=custom.css.map */
