@import "_variables/variables";
@import "_mixins/mixins";
@import "_utilities/utilities";

* {
  box-sizing: border-box;
}
body {
  font-family: "Inter", "Open Sans", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  @include dark-force-bg($very-dark-blue);
}
// Header
.header {
  display: flex;
  flex-direction: column;
  background: $very-pale-blue;
  padding-bottom: 3em;
  border-bottom-right-radius: 1.75em;
  border-bottom-left-radius: 1.75em;
  transition: 400ms ease all;
  &.dark {
    background: $very-dark-blue-top;
    transition: 400ms ease all;
  }
  @include mq($mq, md) {
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
  }
  .container {
    @extend .header;
  }
}
// Toggle
.toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-text {
    @extend .text;
    font-weight: 700;
    text-decoration: none;
  }
  &-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 4em;
    height: 2em;
    border-radius: 3em;
    background: $toggle;
    transition: 400ms ease all;
    &.active {
      justify-content: flex-start;
      background: $toggle-active;
      transition: 400ms ease all;
    }
  }
  &-ball {
    display: inline-block;
    height: 1.5em;
    width: 1.5em;
    margin: 0 5px;
    background: $very-pale-blue;
    border-radius: 50%;
    transition: 400ms ease all;
    &.active {
      background: $very-dark-blue;
      transition: 400ms ease all;
    }
  }
}
// Main
.main {
  @extend .container;
}
// Overview
.overview {
  display: flex;
  flex-direction: column;
  @include mq($mq, md) {
    flex-direction: row;
    justify-content: space-between;
  }
  .overview-card-template {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 100%;
    background: $very-pale-blue;
    border-radius: 8px;
    padding-bottom: 1em;
    margin-bottom: 1.75em;
    @include dark-force-bg($dark-desaturated-blue);
    .resume-day-template {
      display: flex;
      justify-content: center;
      align-items: center;
      .counter-day {
        display: inline-block;
        font-weight: 600;
        color: $lime-green;
        margin-left: 0.25em;
      }
      .arrow {
        display: inline-block;
        width: 0.5em;
        height: auto;
      }
    }
  }
  // Overview All
  &-all {
    @extend .overview;
    position: relative;
    top: -3em;
    .overview-card {
      @extend .overview-card-template;
      display: flex;
      text-align: center;
      flex-direction: column;
      width: 100%;
      background: $very-pale-blue;
      border-radius: 8px;
      padding-bottom: 1em;
      margin-bottom: 1.75em;
      @include mq($mq, md) {
        width: 23%;
      }
    }
    .account {
      display: flex;
      align-items: center;
      margin: 2em auto 1.25em auto;
      line-height: 1em;
      text-decoration: none;
    }
    .icon {
      display: inline-block;
      width: auto;
      height: 100%;
    }
    .name {
      @extend .text;
      display: inline-block;
      margin: 0;
      margin-left: 0.75em;
      text-decoration: none;
      font-weight: 600;
      // color: $dark-grayish-blue;
      // @include dark($dark-grayish-blue);
    }
    .counter {
      font-size: 4em;
      font-weight: 700;
      margin: 0;
      @include dark-force($white);
    }
    .followers {
      font-size: 1em;
      font-weight: 300;
      letter-spacing: 0.25em;
      text-transform: uppercase;
      @include dark-force($desaturated-blue);
    }
    .resume-day {
      @extend .resume-day-template;
    }
    .facebook {
      display: inline-block;
      width: 100%;
      height: 0.35rem;
      background: $facebook;
      border-top-left-radius: 1em;
      border-top-right-radius: 1em;
    }
    .instagram {
      display: inline-block;
      width: 100%;
      height: 0.35rem;
      background: $instagram;
      border-top-left-radius: 1em;
      border-top-right-radius: 1em;
    }
    .twitter {
      display: inline-block;
      width: 100%;
      height: 0.35rem;
      background: $twitter;
      border-top-left-radius: 1em;
      border-top-right-radius: 1em;
    }
    .youtube {
      display: inline-block;
      width: 100%;
      height: 0.35rem;
      background: $youtube;
      border-top-left-radius: 1em;
      border-top-right-radius: 1em;
    }
  }
  // Overview Today
  &-today {
    @extend .overview;
    position: relative;
    top: -3em;
    @include mq($mq, md) {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .title {
      display: block;
      width: 100%;
      margin: 1.25em 0;
      font-size: 1.5em;
    }
    .overview-card {
      @extend .overview-card-template;
      padding: 0 1.75em;
      @include mq($mq, md) {
        width: 23%;
      }
      > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .name {
        margin: 2em 0 1em 0;
      }
      .text {
        display: inline-block;
        font-weight: 600;
        margin: 0;
      }
      .icon {
        display: inline-block;
        width: auto;
        height: 100%;
      }
      .resume-day {
        @extend .resume-day-template;
      }
      .number {
        font-size: 2em;
        font-weight: 600;
        margin: 0.5em 0;
        @include dark-force($white);
      }
    }
  }
}
