@import "_variables/variables";
@import "_mixins/mixins";
@import "_utilities/utilities";

*{
  box-sizing: border-box;
}
body{
  font-family: 'Inter', 'Open Sans', sans-serif;
  font-weight: 400;
}
// Header
.header{
  display: flex;
  flex-direction: column;
  background: $very-pale-blue;
  padding-bottom: 3em;
  border-bottom-right-radius: 2em;
  border-bottom-left-radius: 2em;
  .container{
    @extend .header;
  }
}
// Toggle
.toggle{
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-text{
    @extend .text;
    font-weight: 700;
    text-decoration: none;
  }
  &-btn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 4em;
    height: 2em;
    border-radius: 3em;
    background: $toggle;
    transition: 500ms ease all;
    &.active{
      justify-content: flex-start;
      transition: 500ms ease all;
    }
  }
  &-ball{
    display: inline-block;
    height: 1.5em;
    width: 1.5em;
    margin: 0 5px;
    background: $very-pale-blue;
    border-radius: 50%;
    transition: 500ms ease all;
  }
}